.selector-for-some-widget {
  box-sizing: content-box;
}
	
#biaoti{
	
	color: aliceblue;
	margin: 16% 0px;
	
	font-weight: bold;
}
#carouselExampleFade{
	position: absolute;
	left: 0rem;
	top: 0px;
	z-index: -1;
	width: 100%;
}
#neir{
	background-color: azure;
	
}
#lung{
	-webkit-filter:brightness(70%) ;
	filter:brightness(70%) ;
}
#neir h2{
	background-color: #e5f3f3;
	
	
}
#neir p{
	font-size: 20px;
	text-indent: 2em;
	
	padding-left: 1%;
}
#neimg{
	float: right;
	width: 38%;
	margin: 1%;
	border-radius: 0.1875rem;
}
#neimg1{
	float: right;
	width: 21%;
	margin: 1%;
	border-radius: 0.1875rem;
}
#neimg2{
	float: right;
	width: 24%;
	margin: 1%;
	border-radius: 0.1875rem;
}
#yinc{
	height: 1px;
	position: fixed;
	top: 0cm;
	width: 100%;
}
